<form action="/users" method="post" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" placeholder="lumberjack613" id="username">

    <label for="email">Email:</label>
    <input type="email" name="user[email]" placeholder="treechopper53@gmail.com" id="email">

    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="123546" id="password">

    <button type="submit">Create User</button>
</form>